<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Add Product</h1>
<% if (errors) { %> <% errors.split(',').forEach((el) => { %>
    <p style="color: red"><%= el %></p>
    <% }) %> <% } %>
<form action="/admin/products/add" method="POST">
    <label for="name">Product Name:</label>
    <input type="text" name="name"><br>
    
    <label for="price">Price:</label>
    <input type="number" name="price" step="0.01"><br>
    
    <label for="description">Description:</label>
    <textarea name="description"></textarea><br>
    
    <label for="imageURL">Product Image URL:</label>
    <input type="text" name="imageURL"><br>
    
    <label for="CategoryId">Category:</label>
    <select name="CategoryId">
        <option value="">Choose Category....</option>
        <% categories.forEach(category => { %>
            <option value="<%= category.id %>"><%= category.name %></option>
        <% }); %>
    </select><br>
    
    <button type="submit">Add Product</button>
</form>
</body>
</html>