<nav>
    <ul>
        <li><a href="/products">Products</a></li>
        <li><a href="/myProfile">My Profile</a></li>
        <li><a href="/myOrders">My Orders</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>