<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Profile</h1>
<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>
<p>Balance: <%= user.balance %></p>
<form action="/myProfile" method="POST">
    <input type="number" name="balance" placeholder="Top-up amount">
    <button type="submit">Top Up</button>
</form>
</body>
</html>