<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Purchase Product</h1>
<p>Name: <%= product.name %></p>
<p>Price: <%= formatCurrency(product.price) %></p>
<form action="/products/<%= product.id %>/shop" method="POST">
    <button type="submit">Pay Now</button>
</form>
</body>
</html>